@import "../../common/config.scss";

.intro {
  height: 150px;
}

.login__form {
  box-shadow: $box-shadow;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  font-size: 2rem;
  position: absolute;
  top: 25px;
  color: #7875b5;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px 30px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}
