@import "../../../common/config.scss";

.header {
  .headerTop {
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    background: #f2f2f2;

    .textLogo {
      margin-left: 1rem;
      display: inline-flex;
      align-items: center;
      > img {
        width: 30px;
        height: 30px;
      }
      > span {
        font-size: 1.25rem;
        font-weight: 500;
        opacity: 0.7;
      }
    }
  }

  background-color: $main-bg;
  box-shadow: $box-shadow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  // height: $header-height;

  .container {
    width: 100%;
    max-width: 1620px;
    padding: 0 50px;
    margin: auto;

    @include tablet {
      padding: 0 20px;
    }

    @include mobile {
      padding: 0 10px;
    }
  }

  &__menu {
    @include flex(center, space-between);
    padding: 10px 0;

    &__left {
      &__logo {
        img {
          height: 60px;
        }
      }

      @include flex(center, flex-start);

      &__link {
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 500;
        padding-left: 20px;
      }
    }

    &__right {
      input {
        margin-left: 10px;
      }
    }

    .HeaderLeftProfile {
      margin-left: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      background-color: #f6f6f6;
      border-radius: 5px;
      padding: 0.8rem 1rem;
      display: flex;
      align-items: center;
      :hover {
        color: #02aab0;
      }
      button {
        color: #000000;
        outline: none;
        border: none;
        cursor: pointer;
        background: transparent;
      }
      &Menu {
        color: #000000;
      }
    }
  }
}
