.hero-slider{
    max-height: 1080px;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
    margin-top: calc(#{$header-height} * -1);

    img{
        width: 100%;
    }
}