@import "../../common/config.scss";

.footer {
  padding: 50px 0;
  box-shadow: $box-shadow;
  font-size: 1.2rem;

  &__logo {
    height: 50px;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }

  input {
    width: 100%;
  }

  p {
    margin-bottom: 10px;
  }
}
