@import "../../common/config.scss";

.moneyManagement {
  .statistic {
    > h1 {
      text-transform: uppercase;
      padding: 0 0 1rem 0;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
  .calendarManager {
    display: inline-flex;
    padding: 2rem 0 1rem 0;
  }
}
