@mixin flex($align-item, $justify-content) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}

.value_common {
  margin: 0;
  font-size: 1.6rem;
  color: #333333;
  letter-spacing: 0;
  line-height: 2.4rem;
}

.title_common {
  margin: 0;
  font-size: 1.2rem;
  color: #666666;
  letter-spacing: 0;
  text-transform: uppercase;
}
