.orderManagement {
  > h1 {
    text-transform: uppercase;
    padding: 2rem 0;
    font-size: 1.25rem;
    font-weight: 700;
  }
  .button {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}
